.organization-container {
  width: 100%;
  overflow: auto;
}
.organization-container .tableSet {
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  margin-right: 30px;
  cursor: pointer;
}
.organization-container .findTable {
  color: #005BAC;
}
.organization-container .editTable {
  color: #1C94ED;
  margin-left: 20px;
}
.Drawer-organization-container .ant-tree {
  padding-bottom: 100px !important;
}
.Drawer-organization-container .Drawer-Btn {
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fafafa;
}
.Drawer-organization-container .Drawer-Btn .marginLeft20 {
  margin-left: 20px;
}
.Drawer-organization-container .marginTop20 {
  margin-top: 20px;
}
.Drawer-organization-container .paddingBottom100 {
  padding-bottom: 100px;
}
.Drawer-organization-container .max_table_text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 75%;
}
.Drawer-organization-container .drawer-detail {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  display: flex;
  flex-wrap: nowrap;
}
.Drawer-organization-container .drawer-detail span {
  display: block;
}
