.dictWrapper {
  height: 100%;
  flex-flow: column;
  display: flex;
  flex: 1;
  & > div {
    background-color: #fff;
  }
  .gridContent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px 30px;
    .gridContent_item{
      padding: 20px;
      border: 1px solid ;
    }
  }
  .gridContent_botton{
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    margin-top: 20px;
  }
  .header {
    display: flex;
    padding: 14px 16px;
    align-items: center;

    .searcher {
      width: 200px;
      margin-right: 20px;
    }
    .searchButton {
      margin-right: 20px;
    }
  }
  .tableWrapper {
    display: flex;
    height: 100%;
    flex-flow: column;
    // margin-top: 14px;
    // padding: 10px 16px 16px;
    padding-top: 0;
    .addDict {
      align-self: end;
    }
    .table {
      clear: both;
      // margin-top: 5px;
    }
  }
}

.dictModal {
  :global(.ant-modal-header) {
    padding: 20px;
    border-bottom: none;
  }
  :global(.ant-modal-body) {
    padding: 0 20px 24px;
  }
  :global(.ant-modal-footer) {
    // border-top: none;
    // padding-top: 0;
    padding-bottom: 20px;
  }
  :global(.ant-form-item:last-child) {
    margin-bottom: 0;
  }
}
