.route-admin-main {
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;

    .text-align-center {
        text-align: center;
    }

    .route-admin-tree {
        width: 50%;

        .route-admin-tree-card {
            max-height: 70vh;
            overflow: auto;
        }

        .route-setButton {
            margin-bottom: 10px;
            display: flex;
            justify-content: end;
        }
    }

    .route-admin-detail {
        width: 60%;
        padding-left: 40px;

        .detail-title {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        .detail-title-form {
            max-height: 70vh;
            overflow: auto;
        }

        .detail-btn {
            margin-right: 10px;
        }
    }

    .detail-lable {
        margin-bottom: 10px;
        font-size: 16px;

        .lable-detail {
            color: #c3bcbc;
            margin-left: 10px;
        }
    }

}