.ant-popover-title,.ant-popover-inner,.ant-popover-inner-content{
    min-width: 120px;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .ant-popover-title{
   padding: 10px 10px 0px 10px;
    border: none;
  }
  .ant-popover-inner-content{
    padding: 10px;
  }
  .ant-popover-buttons{
    display: flex;
  }
  .ant-popover-buttons{
    justify-content: flex-end;
    button{
      border: none;
      background-color: rgba(0,0,0,0);
      box-shadow: none;
  
    }
    .ant-btn-primary:hover, .ant-btn-primary:focus,.ant-btn-primary:active,[ant-click-animating-without-extra-node="true"]::after, .ant-click-animating-node{
      border: none;
      background-color: rgba(0,0,0,0);
      box-shadow: none;
    }
    .ant-btn-sm{
      color: #666666;
    }
    .ant-btn-primary{
      color: #09C199;
    }
  }
  .ant-table-cell >.text-14  .margin-right30{
    cursor: pointer;
  }
  