.search{
    padding: 20px 20px 0 20px ;
}
.btn-style{
    width: 74px;
    padding: 5px 0;
    margin-right: -6px;
    background: #f6f6f6;
    border-color: transparent;
}
.btn-style:hover{
    border: 1px solid #09C199;
  }