.footer_btn_sub{
    width: 100%;
}
.chanagePassTittle{
    width: 280px;
    margin:20px auto 0 auto;
    text-align: left;
    font-size: 18px;
    font-weight: 500;}
.changePass{
    width: 300px;
    margin:30px auto;
}
.changetitles{
    color: #666666;
    line-height: 24px;
    font-size: 12px;
    width: 280px;
    margin:20px auto 0 auto;
}
.footertip{
    width: 280px;
    margin:0 auto 30px auto;
    padding: 0px;
    li{
        list-style: none;
        color: #666666;
        margin: 0px;
        line-height: 24px;
        font-size: 12px;
    }
}