@use "sass:math";
@function px2Rem($px, $base-font-size: 17.2px) {
  @if (unitless($px)) {
    //有无单位
    @return math.div($px, 17.2) * 1rem;
  } @else if (unit($px) == em) {
    @return $px;
  }
  @return math.div($px, $base-font-size) * 1rem;
}

.ant-table-thead > tr > th {
  background-color: #F1F1F1;
}
$marin20: 20px;
$marin40: 40px;
$wordGreen: rgba(7, 193, 96, 1);
$bg-green: rgba(7, 193, 96, 1);
$word: rgba(51, 51, 51, 1);
$bg-white: white;
$word16: 16px;
$bg-white: white;
$text-black: rgba(51, 51, 51, 1);
$text-14: 14px;
$text-16: 16px;
$text-20: 20px;
$fontweight500: 500;
$fontweight400: 400;
$bg-green: #f5fdf9;
$btn-green: rgba(7, 193, 96, 1);
$text-green: rgba(7, 193, 96, 1);
$text-orange: rgba(238, 158, 37, 1);
$text-gray: rgba(181, 181, 181, 1);
$text-error: rgba(237, 85, 85, 1);
$text-blue: rgba(28, 148, 237, 1);
$text-666: #666666;
$bg-gray: #f8f8f8;
$margin-top20: 20px;
$text-18: 18px;
$margin-left30: 30px;
$text-bg-oranage: #fdf5e9;
$text-bg-gray: #f2f2f2;
$text-bg-green: #09C199;
.margin-left30 {
  margin-left: $margin-left30;
}
.ant-menu-title-content {
  font-size: 16px;
  font-weight: 400;
}
.menu_title {
  font-size: 16px;
  font-weight: 500;
  margin-right: px2Rem(70px);
}
//错误提示
.ant-form-item-explain,
.ant-form-item-extra {
  font-size: 14px !important ;
}
//表头样式
.ant-table-cell {
  font-size: 14px;
}
.text-cursor {
  cursor: pointer;
}
.ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  background-color: rgb(250 250 250) !important;
}
.ant-menu-sub.ant-menu-inline {
  background: #ffffff;
}

.bar-gray {
  width: 100%;
  height: 20px;
  background: #f8f8f8;
}
.text-12 {
  font-size: 12px;
}
.text-14 {
  font-size: 14px;
}
.text-16 {
  font-size: 16px;
}
.text-18 {
  font-size: 18px;
}
.text-20 {
  font-size: 20px;
}
.margin-bottom40 {
  margin-bottom: 40px;
}
.font-weight400 {
  font-weight: 400;
}
.margin-bottom20 {
  margin-bottom: 20px;
}
.add_child_form_label .ant-form-item-label {
  width: 94px;
  text-align: right;
}
.line-height24 {
  line-height: 24px;
}
.lcaresults {
  height: 100%;
}
.text-tips-color {
  color: #3d3d3dff;
}
.new_btn {
  min-width: 140px;
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  background: #09C199;
  border-color: #09C199;
  float: right;
  margin-top: 20px;
}
.other_btn {
  min-width: 140px;
  height: 40px;
  padding: 0;
  font-size: 16px;
  border-radius: 4px;
  background: #ffffff;
  border-color: #dddddd;
  color: #666666;
  margin-top: 20px;
  float: right;
  margin-right: 20px;
}
.checkout_btn {
  background: #fff !important;
  color: #09C199;
  border: 1px solid #09C199;
  font-size: 16px;
  float: right;
  margin-left: 20px;
}
//提示
//.custom-warning{
//  display: block;
//  padding:7px 20px;
//  background: #FEFAF1;
//  border-radius: 4px;
//  border: 1px solid #EEA10F;
//}

//公共样式
.input {
  width: 300px;
  border-radius: 4px;
  font-family: PingFangSC-Regular, serif;
  font-size: 14px;
  color: #cccccc;
}
.select_report {
  border-radius: 4px;
}
.filter_report {
  padding-top: 0;
}
.padding30 {
  padding: 30px;
}
.text-left {
  text-align: left;
}
//审核状态样式
.status_waitting {
  color: $text-orange;
  background-color: $text-bg-oranage;
}
.status_green {
  color: $text-green;
  //background-color:$text-bg-green;
}
.status_gray {
  color: $text-gray;
  background-color: $text-bg-gray;
}
.status_txt {
  height: 22px;
  max-width: 92px;
  text-align: center;
  line-height: 22px;
  border-radius: 4px;
  font-size: 14px;
  display: block;
}
.status_require {
  color: $text-error;
}
.Audit_reson {
  display: flex;
  align-items: center;
  span {
    padding-right: 4px;
  }
  .ant-input {
    width: 362px;
  }
}

.ant-modal-header,
.ant-modal-footer {
  border: none;
}
.btn-tag {
  width: 54px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  font-size: 14px;
  border-radius: 4px;
  display: inline-block;
}
.btn-tag-green {
  color: #09C199;
  background: #e8f9e8;
}
.btn-tag-gray {
  color: #aeaeae;
  background: #f2f2f2;
}
//碳排放报告录入按钮样式
.carbon_btn_list .ant-btn {
  padding: 0px 20px !important;
  border-radius: 4px !important;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  margin-right: 20px;
}
.text-black {
  color: #333;
}
.text-gray {
  color: $text-gray;
}
.text-orange {
  color: $text-orange;
}
.text-green {
  color: $text-green;
}
.font-weight400 {
  font-weight: $fontweight500;
}
.padding-left20 {
  padding-left: 20px;
}
.padding-top24 {
  margin-top: 24px;
}
.margin10 {
  margin: 0 10px;
}
.text-center {
  text-align: center;
}
.margin-top40 {
  margin-top: 40px;
}
.margin-right10 {
  margin-right: 10px;
}
.margin40 {
  margin: 40px 0;
}
.margin30 {
  margin: 30px;
}
.margin-right30 {
  margin-right: 30px;
}
.flex {
  display: flex;
  align-items: flex-end;
}
.flex-sub {
  flex: 1;
  text-align: right;
  //align-items: center;
}
.margin-top25 {
  margin-top: 25px;
}
.text-666 {
  color: $text-666;
}
.margin-left14 {
  margin-left: 14px;
}
.margin-top10 {
  margin-top: 10px;
}
.margin-bottom20 {
  margin-bottom: 20px;
}
.margin-bottom10 {
  margin-bottom: 10px;
}
.margin-bottom60 {
  margin-bottom: 60px;
}
.btn-active-green {
  border-color: #04c160;
  color: #04c160;
}
.ant-input-group-addon {
  font-size: 12px;
}
.padding24 {
  padding: 24px;
}
.margin-left20 {
  margin-left: 20px;
}
.margin-left60 {
  margin-left: 60px;
}
.margin-top28 {
  margin-top: 28px;
}
.padding-top0 {
  padding-top: 0;
}
.tab-padding {
  display: inline-block;
  padding: 19px 24px;
  background: #f8fafa;
}
.bg-gray-light {
  background: #f8fafa;
}
.bg-white {
  background: #ffffff;
}
.tab-active {
  color: #09C199;
  background: #ffffff;
}
.text-666 {
  color: #666666;
}
.text-over_line1 {
  width: 150px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.margin_bottom20 {
  margin-bottom: 20px;
}
.layout__route{
  background: #fff;
  padding: 20px;
  // min-height: 718px;
}
.marginLeft20 {
    margin-left: 20px;
}
.footerButton{
  height: 10%;
  // background-color: red;
  display: flex;
position: relative;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  background: white;
  padding: 20px;
}
.Drawer-Btn{
  background-color: #fff;
  text-align: right;
  padding: 20px;
  display: flex;
  justify-content: right;
  border-top: 1px solid #efefef;
  position: fixed;
  bottom: 0;
}
.Drawer-Btn_fix{
  background-color: #fff;
  text-align: right;
  padding: 20px;
  display: flex;
  justify-content: right;
  border-top: 1px solid #efefef;
  // position: fixed;
  // bottom: 0;
}
.Drawer-Btn_position{
  // position: absolute;456
  bottom: -5px;
  left: 0px;
  height: 50px;
  background: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  padding-right: 20px;
  justify-content: flex-end;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 -1px 2px 0 rgb(0 0 0 / 3%);
}
.ant-table-pagination{
  margin: 20px 0;
}
// .layout__side-bar .ant-menu{
//   height: calc(100vh - 64px);
//     overflow: auto;
// }
.Drawer-Btn-bottom{
  background-color: #fff;
  text-align: right;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.10);
  position: fixed;
  bottom: 0;
  width: 100vw;
  right: 0px;
  left: 0px;
  height: 60px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .Drawer-Btn-bottom-con{
   display: flex;
   align-items: center;
  }
}
.ant-table-footer{
  background: #fff;
}
.ant-form-item{
  // background-color: red;
  margin-bottom: 20px !important;
}
.iconFontFram{
  animation:4s linear 0s infinite alternate rotate;
}
@keyframes rotate {
  0% {
      transform: rotate(0);
  }
  100% {
      transform: rotate(360deg);
  }
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected{
  background: #09C199;
  border-radius: 3px;
}
.layout__side-bar__logo--side{
  border-bottom: 1px solid #4B4B4B;
}
.upload_button{
  overflow: auto;
  text-align: start !important;
  padding-left: 0 !important;
  &::-webkit-scrollbar {
    /*滚动条整体样式*/
    width : 0px;  /*高宽分别对应横竖滚动条的尺寸*/
    height: 0px;
    }
 
}
.ant-upload-disabled{
  button, html [type="button"]{
    background-color: #f5f5f5;
    cursor: not-allowed;
    &:hover{
      background-color: #f5f5f5;
      cursor: not-allowed;
      color: #333333;
      border: 1px solid transparent;
      box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
    }
  }
  
}