.formWrapper {
    // 这里关联多处的样式，不要修改，必要时请用其它类名进行覆盖
    flex: 1 0;
    flex-wrap: wrap;
    align-items: flex-end;
  
    :global(.ant-form-item) {
      margin-right: 19px;
      margin-bottom: 16px;
    }
  
    .buttonGroup {
      flex: 0 0 auto;
      display: flex;
      flex-wrap: nowrap;
    }
  }